
@model Genre

<div class="d-flex justify-content-between align-items-center container-fluid">
    <h1>Delete Genre</h1>
</div>
<div class="container-fluid">
    <form method="post" class="row">
        <div class="mb-3 col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>

                </div>
            </div>
            <button style="width: 100px" type="submit" class="btn btn-danger">Delete</button>
            <a asp-controller="genre" asp-action="index" class="btn btn-primary">Back to home</a>
        </div>

    </form>
</div>